    $yellow: #e1a708;
    $bg: #091932;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    ol {
        margin: 0px;
        padding: 0px;
        text-decoration: none;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        background: $bg;
        margin: 0px;
        padding: 0px;
        font-family: Verdana, Arial;
        font-size: 1.2rem;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 0 0 1px transparent;
    }
    
    .container {
        max-width: 935px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .yellow {
        color: $yellow;
    }
    
    a {
        color: #fff;
    }
    
    hr {
        border: 0;
        border-bottom: 1px solid #123264;
        padding: 0px 0px 0px 0px;
    }
    
    .left {
        max-width: 610px;
        float: left;
        padding-top: 20px;
    }
    
    .right {
        max-width: 305px;
        float: right;
        text-align: right;
        padding-top: 20px;
    }
    /* Header */
    
    header {
        float: left;
        display: inline;
        margin-top: 20px;
        height: 100%;
        .desc {
            float: right;
            margin-top: 60px
        }
    }
    /* Logo */
    
    .logo {
        background: url('../img/logo.png') no-repeat;
        background-size: 100% auto;
        height: 72px;
        max-width: 380px;
        width: 100%;
        float: left;
        cursor: pointer;
        text-indent: -9999px;
    }
    /* Menu */
    
    .menu {
        background: $yellow;
        max-width: 935px;
        width: 100%;
        height: 48px;
        float: left;
        margin-top: 15px;
        text-align: center;
        a {
            color: #fff;
            font-size: 14px;
            float: left;
            padding: 15px;
            margin: 0 auto;
            text-transform: uppercase;
        }
        a:hover {
            color: #fff;
        }
    }
    /* Slider */
    
    .slider {
        display: none;
    }
    /* Animacja zanikanie
    .fade {
        animation:fading 6s infinite
    }

    @keyframes fading{
        0%	{opacity: 0.2}
        50%	{opacity: 1}
        100%{opacity: 0.2}
    } 
    */

/* Products */
.bg-products {
    background: #01050e;
    width: 100%;
    margin: auto;
}
.products {
    background: #01050e;
    max-width: 935px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px 20px 10px 20px;
    img {
        float: left;
    }
    
    h2 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 28px;
    }
    
    a {
        cursor: pointer;
    }
}

/* Products-boxes */
.products__box {
    background: $yellow;
    height: 207px;
    margin: 10px 0 10px;
    border: 0px;
    width: 458px;
    float: left;
    display: table;
    transition: .5s background linear;
    &--right {
        float: right;
    }
    
    &:hover {
        background: #ffd900 !important;
    }
    
    &--show-1,
    &--show-2,
    &--show-3,
    &--show-4 {
        opacity: 0;
        clear: both;
        height: 0;
        padding: 0 8px;
        overflow: hidden;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -o-transition: all .5s linear;
        -ms-transition: all .5s linear;
        transition: all .5s linear;
    }
    
    &--show-1:hover,
    &--show-2:hover,
    &--show-3:hover,
    &--show-4:hover {
        opacity: 1;
        height: 100%;
        padding: 8px;
    }
    
    &:hover .triangle::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 76px;
        right: 0;
        border-top: 28px solid transparent;
        border-right: 29px solid #ffd900;
        border-bottom: 28px solid transparent;
    }
}
#products__box--1:hover~.products__box--show-1,
#products__box--2:hover~.products__box--show-2,
#products__box--3:hover~.products__box--show-3,
#products__box--4:hover~.products__box--show-4,
#products__box--1:focus~.products__box--show-1,
#products__box--2:focus~.products__box--show-2,
#products__box--3:focus~.products__box--show-3,
#products__box--4:focus~.products__box--show-4 {
    opacity: 1;
    height: 100%;
    padding: 8px;
}
.triangle {
    margin: auto;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 76px;
        right: 0;
        border-top: 28px solid transparent;
        border-right: 29px solid $yellow;
        border-bottom: 28px solid transparent;
        transition: .5s border-right linear;
    }
    img {
        backface-visibility: hidden;
    }
}

/* Contact */
.contact {
    clear: both;
    display: block;
    overflow: hidden;
    h2 {
        color: #fff;
        font-size: 36px;
        padding: 0;
        margin: 10px 0px 20px 0px;
        text-align: left;
    }
    
    h2:first-letter {
        color: $yellow;
    }
}

/* Map */
#map {
    width: 610px;
    height: 419px;
    float: left;
    margin-top: 20px;
}

/* Contact Buttons */
.button {
    margin: 0 0 20px 0;
    cursor: pointer;
    width: 305px;
    height: 125px;
    font-weight: bold;
    line-height: 125px;
    text-align: center;
    font-size: 16px;
    text-shadow: 0.2em 0.2em 0.5em black;
    transition: .5s background linear;
    &--localization {
        background: url('../img/lokacja.png') no-repeat;
    }
    
    &--localization:hover {
        background: url('../img/lokacja.png') no-repeat, rgb(37, 141, 200);
    }
    
    &--phone {
        background: url('../img/telefon.png') no-repeat;
    }
    
    &--phone:hover {
        background: url('../img/telefon.png') no-repeat, rgb(37, 141, 200);
    }
    
    &--email {
        background: url('../img/email.png') no-repeat;
    }
    
    &--email:hover {
        background: url('../img/email.png') no-repeat, rgb(37, 141, 200);
    }
}

/* Footer */
footer {
    color: #123264;
    font-size: 11px;
    clear: both;
    display: block;
    overflow: hidden;
    a {
        color: #123264;
    }
    
    a:hover {
        color: #fff;
    }
    
    .right,
    .left {
        padding-bottom: 20px;
    }
}
@media (min-width: 480px) {
    .slider {
        clear: both;
        display: block;
        overflow: hidden;
        margin: 0;
        figure img {
            width: 50%;
            float: left;
        }
        figure {
            position: relative;
            width: 200%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 6s slider infinite;
        }
        @keyframes slider {
            0% {
                left: 0%;
            }
            45% {
                left: 0%;
            }
            50% {
                left: -100%;
            }
            95% {
                left: -100%;
            }
            100% {
                left: 0%;
            }
        }
    }}