    $yellow: #e1a708;
    $bg: #091932;
    $gradient_right: linear-gradient(115deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(18, 50, 100, 0.5) 85%, rgba(255, 255, 255, 0) 100%);
    $gradient_left: linear-gradient(115deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 15%, rgba(18, 50, 100, 0.5) 30%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%);
    $gradient_center: linear-gradient(115deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(18, 50, 100, 0.5) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    ol {
        margin: 0px;
        padding: 0px;
        text-decoration: none;
    }
    
    html {
        font-size: 62.5%;
    }
*{    font: inherit;}
    body {
        
        background: $bg;
        margin: 0px;
        padding: 0px;
        font-family: Verdana, Arial;
        font-size: 1.2rem;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 0 0 1px transparent;
    }
    
    .container {
        max-width: 935px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .yellow {
        color: $yellow;
    }
    
    a {
        color: #fff;
    }
    
    hr {
        border: 0;
        border-bottom: 1px solid #123264;
        padding: 0px 0px 0px 0px;
    }
    
    .left {
        max-width: 610px;
        float: left;
        padding-top: 20px;
    }
    /* Header */
    
    header {
        float: left;
        display: inline;
        margin-top: 20px;
        max-width: 935px;
        width: 100%;
        height: 100%;
        .desc {
            float: right;
            margin-top: 20px;
        }
    }
    /* Logo */
    
    .logo {
        background: url('../img/logo.png') no-repeat;
        background-size: 100% auto;
        height: 72px;
        max-width: 380px;
        width: 100%;
        float: left;
        cursor: pointer;
        text-indent: -9999px;
    }
    /* Menu */
    
    .menu {
        background: $yellow;
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 15px;
        text-align: center;
        a {
            color: #fff;
            font-size: 14px;
            float: left;
            padding: 15px;
            margin: 0 auto;
            text-transform: uppercase;
        }
        a:hover {
            color: #fff;
        }
    }
    /* Slider */
    
    .slider {
        display: none;
    }
    /* Animacja zanikanie
    .fade {
        animation:fading 6s infinite
    }

    @keyframes fading{
        0%	{opacity: 0.2}
        50%	{opacity: 1}
        100%{opacity: 0.2}
    } 
    */
    /* Products */
    
    .bg-products {
        background: #01050e;
        width: 100%;
        margin: auto;
        padding: 10px 0px;
    }
    
    .row {
        max-width: 935px;
        text-align: center;
        margin: auto;
        padding: 0px 20px 0px 20px;
    }
    
    .product__box {
        width: 100%;
        float: left;
        padding: 0px 0px 0px 0px;
        &--show {
            opacity: 0;
            height: 0;
            padding: 10px 0px 10px 0px;
            transition: all .5s linear;
            text-align: left;
            &:hover {
                opacity: 1;
                height: 100%;
                -webkit-transition: all .5s linear;
                -o-transition: all .5s linear;
                transition: all .5s linear;
            }
        }
    }
    
    .product {
        background: #e1a708;
        border: 0px;
        height: 207px;
        display: table;
        width: 100%;
        -webkit-transition: .5s background linear;
        -o-transition: .5s background linear;
        transition: .5s background linear;
        h2 {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            font-size: 28px;
            width: 100%;
            text-transform: uppercase;
        }
        &:hover,
        &:focus {
            background: #ffd900;
        }
        &:hover~.product__box--show,
        &:focus~.product__box--show {
            opacity: 1;
            height: 100%;
            -webkit-transition: all .5s linear;
            -o-transition: all .5s linear;
            transition: all .5s linear;
        }
        img {
            display: none;
            float: left
        }
    }
    
    .triangle {
        display: none;
    }
    /* Contact */
    
    .contact {
        clear: both;
        display: block;
        overflow: hidden;
        h2 {
            color: #fff;
            font-size: 36px;
            padding: 0;
            margin: 10px 0px 20px 0px;
            text-align: left;
        }
        h2:first-letter {
            color: $yellow;
        }
    }
    /* Map */
    
    #map {
        width: 100%;
        height: 418px;
        float: left;
        margin-top: 20px;
    }
    /* Contact Buttons */
    
    .button {
        clear: both;
        margin: 0 0 20px 0;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #123264;
        width: 100%;
        height: 126px;
        font-weight: bold;
        line-height: 126px;
        text-align: center;
        font-size: 16px;
        text-shadow: 0.2em 0.2em 0.5em black;
        transition: .5s background linear;
        &--localization {
            background: $gradient_right;
        }
        &--localization:hover {
            background: rgb(37, 141, 200) $gradient_right;
        }
        &--phone {
            background: $gradient_left;
        }
        &--phone:hover {
            background: rgb(37, 141, 200) $gradient_left;
        }
        &--email {
            background: $gradient_center;
        }
        &--email:hover {
            background: rgb(37, 141, 200) $gradient_center;
        }
    }
    /* Footer */
    
    footer {
        color: #123264;
        font-size: 11px;
        clear: both;
        display: block;
        overflow: hidden;
        a {
            color: #123264;
            transition: .5s color linear;
        }
        a:hover {
            color: #fff;
        }
        .right,
        .left {
            padding-bottom: 20px;
        }
    }
    
    .floatfix {
        zoom: 1;
        /* dla IE < 8 */
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    
    @media (min-width: 480px) {
        .menu {
            height: 48px;
        }
        header {
            .desc {
                margin-top: 62px;
            }
        }
        .slider {
            clear: both;
            display: block;
            overflow: hidden;
            margin: 0;
            figure img {
                width: 50%;
                float: left;
            }
            figure {
                position: relative;
                width: 200%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 6s slider infinite;
            }
            @keyframes slider {
                0% {
                    left: 0%;
                }
                45% {
                    left: 0%;
                }
                50% {
                    left: -100%;
                }
                95% {
                    left: -100%;
                }
                100% {
                    left: 0%;
                }
            }
        }
        .button {
            &--localization {
                background: url('../img/lokacja.png') no-repeat left center, $gradient_right;
            }
            &--localization:hover {
                background: url('../img/lokacja.png') no-repeat left center, rgb(37, 141, 200) $gradient_right;
            }
            &--phone {
                background: url('../img/telefon.png') no-repeat right center, $gradient_left;
            }
            &--phone:hover {
                background: url('../img/telefon.png') no-repeat right center, rgb(37, 141, 200) $gradient_left;
            }
            &--email {
                background: url('../img/email.png') no-repeat left center, $gradient_center;
            }
            &--email:hover {
                background: url('../img/email.png') no-repeat left center, rgb(37, 141, 200) $gradient_center;
            }
        }
        .right {
            text-align: right;
            padding-top: 20px;
        }
        .product {
            img {
                display: inline-block;
            }
            &:hover .triangle::after,
            &:focus .triangle::after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 1;
                top: 76px;
                left: 168px;
                border-top: 28px solid transparent;
                border-right: 29px solid #ffd900;
                border-bottom: 28px solid transparent;
            }
        }
        .triangle {
            display: block;
            margin: auto;
            position: relative;
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 1;
                top: 76px;
                left: 168px;
                border-top: 28px solid transparent;
                border-right: 29px solid #e1a708;
                border-bottom: 28px solid transparent;
                -webkit-transition: .5s border-right linear;
                -o-transition: .5s border-right linear;
                transition: .5s border-right linear;
            }
            & img {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
    }
    
    @media (min-width: 1020px) {
        #map {
            max-width: 610px;
        }
        .button {
            width: 305px;
        }
        .right {
            max-width: 305px;
            float: right;
        }
        .product__box {
            width: 458px;
            &--right {
                float: right;
            }
        }
    }
